body {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}

.hide {
    display: none;
}

.btn {
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: .75rem;
    cursor: pointer;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}